<html>
    <head></head>

    <body>
        <a href="{{ app.request.getSchemeAndHttpHost() ~ path('validate', {'link': link.link}) }}">
            Click to validate your registration
        </a>
    </body>

</html>